.backlog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.backlog-layout {
    display: flex;
    width: 100%;
    height: 100%;
}
.backlog-results {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.number-placement-block {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 150px;
    margin: 5px;
}
.number-in-block {
    display: flex;
}
.backlog-button {
    background-color: silver;
    box-shadow: -4px 4px 2px #666;
    width: 100px;
    height: 30px;
    padding: 3px;
    font-size: 16px;
    border: none;
}
.backlog-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    outline-color: none;
    box-shadow: -5px 5px 6px #666;
}
.backlog-button:active {
    background-color: black;
    box-shadow: -4px 4px 2px #666;
    transform: translateY(4px);
    outline-color: none;
}