li {
    list-style: none;
    margin: 10px;
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.menu-items {
    display: flex;
    margin: 10px;
}
