.entire-card {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: #e4e4e4 solid 1px;
    border-left: #e4e4e4 solid 1px;
    width: 350px;
    height: 450px;
    box-shadow: 7px 4px 3px #666;
    margin-top: 20px;
    margin-left: 50px;
}
.card-header {
    display: flex;
}
.header-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    align-items: center;
}
.header-styles {
    text-align: left;
    margin-left: 3px;
}
/* .platform-styles {
    display: flex;
} */
.platform-spacing {
    align-items: center;
}
.bold {
    font-weight: 600;
    font-size: 13px;
    margin-top: 3px;
}
.deck {
    margin: 15px;
    justify-content: center;
}
.deck-style {
    margin-top: 25px;
}
p {
    margin: 0px;
    /* margin-right: 5x; */
}
.card-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
}
.card-body {
    text-align: left;
    padding-left: 10px;
}
.card-buttons {
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 0px;
    padding-left: 0px;
}
.card-backlog-button {
    background-color: silver;
    box-shadow: -4px 4px 2px #666;
    width: 75px;
    height: 45px;
    padding: 3px;
    font-size: 16px;
    border: none;
}

.card-backlog-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    outline-color: none;
    box-shadow: -5px 5px 6px #666;
}
.card-backlog-button:active {
    background-color: black;
    box-shadow: -4px 4px 2px #666;
    transform: translateY(4px);
    outline-color: none;
}


button {
    background-color: silver;
    box-shadow: -4px 4px 2px #666;
    width: 66px;
    height: 30px;
    padding: 3px;
    font-size: 16px;
    border: none;
}
button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    outline-color: none;
    box-shadow: -5px 5px 6px #666;
}
button:active {
    background-color: black;
    box-shadow: -4px 4px 2px #666;
    transform: translateY(4px);
    outline-color: none;
}
/* button:focus {
    outline:0;
} */