.plate {
    border-top: #e4e4e4 solid 1px;
    border-left: #e4e4e4 solid 1px;
    box-shadow: 7px 4px 3px #666;
    width: 300px;
    height: 150px;
    margin: 10px;
    background-color: white;
}
.plate:hover {
    box-shadow: 5px 5px 6px #666;
    background-color: #e4e4e4;
}
img {
    height: 130px;
    width: 104px;
}
.plate-layout {
    display: flex;
}
.plate-body {
    /* width: 100%; */
    text-align: center;
    width: 100%;
}
.plate:active {
    box-shadow: 7px 4px 3px #666;
    transform: translateY(4px);
    outline-color: none;
}
.title {
    margin-top: 35px;
    font-size: 20px;
}
.image-spot {
    margin-top: 10px;
    margin-left: 10px;
    height: 130px;
    width: 104px;
}