.register {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.register-inputs {
    /* box-shadow: 7px 4px 3px #ccc; */
    display: flex;
    flex-direction: column;
}
.inputs {
    height: 25px;
    width: 150px;
    margin: 5px;
    box-shadow: inset -3px 2px 3px #ccc;
}
.text-area-input {
    border: none;
    box-shadow: inset -3px 2px 3px #ccc;
}
